image:
  repository: financialtrading/matchingengine
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  grpcPort: 9085

config:
  server:
    grpc_port: 9085
  log:
    level: "info"
    format: "json"
  kafka:
    brokers: ["kafka:9092"]
    topic_trade: "matching.trade"
    topic_order: "execution.order"

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
