apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
data:
  config.toml: |
    [server]
    grpc_port = "{{ .Values.config.server.grpc_port }}"
    [database]
    driver = "{{ .Values.config.database.driver }}"
    source = "{{ .Values.config.database.source }}"
    [log]
    level = "{{ .Values.config.log.level }}"
    format = "{{ .Values.config.log.format }}"
