version = "1.0.0"

[server]
name = "quant"
environment = "dev"

[server.http]
addr = "0.0.0.0"
port = 18012
timeout = "3s"
read_timeout = "3s"
write_timeout = "3s"
idle_timeout = "60s"

[server.grpc]
addr = "0.0.0.0"
port = 19012
timeout = "3s"
max_recv_msg_size = 10485760 # 10MB
max_send_msg_size = 10485760 # 10MB

[log]
level = "info"
format = "json"
output = "stdout"
# file = "logs/quant.log"
max_size = 100
max_backups = 3
max_age = 28

[tracing]
enabled = true
service_name = "quant"
otlp_endpoint = "localhost:4317"

[metrics]
enabled = true
port = "28012"
path = "/metrics"

[snowflake]
start_time = "2024-01-01"
machine_id = 1


[data.database]
driver = "mysql"
dsn = "root:root@tcp(127.0.0.1:3306)/trading_quant?charset=utf8mb4&parseTime=True&loc=Local"
max_idle_conns = 10
max_open_conns = 100
conn_max_lifetime = "1h"
slow_threshold = "200ms"


[data.redis]
addr = "127.0.0.1:6379"
password = "redis_password"
db = 0
pool_size = 10
min_idle_conns = 5
read_timeout = "0.2s"
write_timeout = "0.2s"

[services]

[services.marketdata]
grpc_addr = "localhost:19003"
http_addr = "localhost:18003"
