[server]
grpc_port = 9088

[database]
driver = "mysql"
source = "root:root@tcp(127.0.0.1:3306)/financial_trading?charset=utf8mb4&parseTime=True&loc=Local"

[log]
level = "info"
format = "json"

[kafka]
brokers = ["localhost:9092"]
topic_order = "execution.order"
