[server]
grpc_port = 9096
http_port = 8086

[database]
driver = "mysql"
source = "root:root@tcp(127.0.0.1:3306)/financial_trading?charset=utf8mb4&parseTime=True&loc=Local"

[log]
level = "info"
format = "json"
