image:
  repository: financialtrading/order
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  grpcPort: 9088

config:
  server:
    grpc_port: 9088
  database:
    driver: "mysql"
    source: "root:root@tcp(mysql:3306)/financial_trading?charset=utf8mb4&parseTime=True&loc=Local"
  log:
    level: "info"
    format: "json"
  kafka:
    brokers: ["kafka:9092"]
    topic_order: "execution.order"

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
