{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "aml.fullname" . }}
  labels:
    {{- include "aml.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "aml.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    {{- range .Values.networkPolicy.ingress }}
    - from:
        {{- toYaml .from | nindent 8 }}
      ports:
        {{- toYaml .ports | nindent 8 }}
    {{- end }}
  egress:
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 3306
        - protocol: TCP
          port: 6379
        - protocol: TCP
          port: 9092
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: UDP
          port: 53
{{- end }}
